<div *ngIf="isFromRegistration">
    Your account has been created, please log in now:
</div>
<form (submit)="submit($event)">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="id User" />
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="password" />
        <button type="submit">Login</button>
    </div>
</form>
<a (click)="registration()"><button>Registration</button></a>

<div *ngIf="authentificationDenied">
    Identifiant ou Mot de passe invalide
</div>
  