<app-nav></app-nav>
<div class="prems"*ngIf="isOk;">
    <h2>Modification of Association  :</h2>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name of Association</mat-label>
        <input
        matInput
        placeholder="Ex. ESIR"
        [(ngModel)]="name"
      />
    </mat-form-field>
    

    <h3>Users Available :</h3>
    <mat-form-field appearance="fill">
      <mat-label>Select users</mat-label>
      <mat-select [(value)]="selectedUser" multiple>
        <mat-option *ngFor="let user of availableUser" [value]="user">
          {{ user.lastname }} {{ user.firstname }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <h3 *ngIf="selectedUser.length">Users Selected and their Roles</h3>
    <div *ngFor="let user of selectedUser" class="user-role-container">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Role of {{ user.lastname }} {{ user.firstname }}</mat-label>
        <input
          matInput
          placeholder="Ex. Membre"
          [(ngModel)]="rolesSelectedUser[user.id]"
        />
      </mat-form-field>
    </div>

    <div>
        <a (click)="modify()"><button *ngIf="assoInfo.name">Modifier l'association</button></a>
    </div>   
</div>