<app-nav></app-nav>
<div class="prems" *ngIf="isOk;">
  <h2>Association Creation:</h2>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Association Name</mat-label>
    <input
      matInput
      placeholder="Ex. ESIR"
      [(ngModel)]="name"
    />
  </mat-form-field>

  <h3>Available Users:</h3>
  <mat-form-field appearance="fill">
    <mat-label>Select or Deselect Users</mat-label>
    <mat-select [(value)]="selectedUser" multiple>
      <mat-option *ngFor="let user of availableUser" [value]="user">
        {{ user.lastname }} {{ user.firstname }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h3 *ngIf="selectedUser.length">Selected Users and their Roles:</h3>
  <div *ngFor="let user of selectedUser" class="user-role-container">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Role de {{ user.lastname }} {{ user.firstname }}</mat-label>
      <input
        matInput
        placeholder="Ex. Member"
        [(ngModel)]="rolesSelectedUser[user.id]"
        #roleInput="ngModel"
        required
      />
      <mat-error *ngIf="roleInput.invalid && roleInput.touched">
        Ce champ est obligatoire.
      </mat-error>
    </mat-form-field>    
  </div>

  <div>
    <a (click)="create()"><button *ngIf="name">Create Association</button></a>
  </div>
</div>
