<app-nav></app-nav>

<div *ngIf="association" class="association-container">
    <h2 class="association-name">{{association.name}}</h2>
    <div class="association-info">
        <p><strong>Id :</strong> <span>{{ association.id }}</span></p>
        <p><strong>Number of members :</strong> <span>{{association.members.length}}</span></p>
    </div>

    <h3 *ngIf="association.members.length" class="members-title">Members of the association: </h3>
    <div class="members-list">
        <div *ngFor="let member of association.members" class="member-item">
            <div class="member-name">
                <strong><a [routerLink]="['/profile', member.id]">{{member.firstname}} {{member.name}}</a></strong>
            </div>
            <div class="member-details">
                <p><strong>Age :</strong> {{member.age}} ans</p>
                <p *ngIf="member.role?.length"><strong>Role :</strong> {{member.role}}</p>
            </div>
        </div>
    </div>    
</div>

<div *ngIf="minute.length > 0" class="minutes-container">
    <h2 class="minutes-title">Minutes :</h2>
    <div class="minutes-list">
        <div *ngFor="let m of minute" class="minute-item">
            <div class="minute-content">
                <p><strong>Content :</strong> {{m.content}}</p>
                <p><strong>Date :</strong> {{m.date}}</p>
            </div>
            <h4>Voters :</h4>
            <ul class="voters-list">
                <li *ngFor="let voter of m.voters" class="voter-item">{{voter.firstname}} {{voter.lastname}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="buttons-container">
    <a *ngIf="userPresident" (click)="delete()"><button class="btn delete">Delete Association</button></a>
    <a *ngIf="userPresident" (click)="modifyAssociation()"><button class="btn modify">Modify Association</button></a>
    <a *ngIf="userPresident" (click)="createMinute()"><button class="btn create">Create a Minute</button></a>
</div>
