<div>
  <p>Category : </p>
</div>

<form [formGroup]="searchGroup">

  <div formGroupName="monstersGroup">
      <mat-slide-toggle formControlName="controlMonsters">
        Monsters (value : {{ checkedMonsters }})
      </mat-slide-toggle>
      <br />
      <mat-slide-toggle formControlName="controlCreaturesFood">
        Creatures (food) (value : {{ checkedCreaturesFood }})
      </mat-slide-toggle>
    <br />
      <mat-slide-toggle formControlName="controlCreaturesNoFood">
        Creatures (no food) (value : {{ checkedCreaturesNoFood }})
      </mat-slide-toggle>
      <br />
  </div>
<mat-form-field style="width: 25%;">
  <mat-label>Select the cooking effect</mat-label> 
  <mat-select formControlName="controlEffect" multiple>
    <mat-select-trigger>{{ displayEffect() }}</mat-select-trigger>
    <mat-option *ngFor="let effect of listEffects" [value]="effect">{{effect}}</mat-option>
  </mat-select>
</mat-form-field>

<!-- <div *ngIf="filteredEffects.length === 0">No effects selected</div>
<div *ngFor="let selected of filteredEffects">
  {{ selected }}
</div> -->

<div>
  <h2>Liste monstre filtré test</h2>
  <div *ngIf="filteredData.length === 0">No effects selected</div>
    <div *ngFor="let selected of filteredData">
      {{ selected.id }}
    </div>
</div>

<app-list [dataList]="filteredData"></app-list>

</form>


