<app-nav></app-nav>

<div *ngIf="user" class="profile-container">
    <h2 class="profile-title">Profil de {{ user.firstname }} {{ user.lastname }}</h2>

    <div class="profile-info">
        <div class="profile-item">
            <strong>ID :</strong> <span>{{ user.id }}</span>
        </div>
        <div class="profile-item">
            <strong>Nom :</strong> <span>{{ user.lastname }}</span>
        </div>
        <div class="profile-item">
            <strong>Prénom :</strong> <span>{{ user.firstname }}</span>
        </div>
        <div class="profile-item">
            <strong>Age :</strong> <span>{{ user.age }}</span>
        </div>
    </div>

    <div *ngIf="user.roles?.length" class="association-info">
        <h3 class="association-title">{{ user.firstname }} {{ user.lastname }} fait partie des associations suivantes :</h3>
        <ul class="association-list">
            <li *ngFor="let role of user.roles; let i = index" class="association-item">
                <a [href]="'http://localhost:4200/associations/' + role.idAssociation" class="association-link">
                    <span class="asso-name">{{ Assoname[i] }}</span>
                    <span class="asso-role" *ngIf="role.name?.length"> : {{ role.name }}</span>
                </a>
            </li>
        </ul>
    </div>

    <div *ngIf="!user.roles?.length" class="no-association">
        <p>{{ user.firstname }} {{ user.lastname }} n'est membre d'aucune association</p>
    </div>

    <div class="profile-actions">
        <a *ngIf="userOnHisProfile" (click)="modify()">
            <button class="btn modify-btn">Modifier le profil</button>
        </a>
        <a *ngIf="userOnHisProfile" (click)="delete()">
            <button class="btn delete-btn">Supprimer le compte</button>
        </a>
    </div>
</div>
