<nav class="navbar">
    <div class="navbar-item">
        <a (click)="logout()">
            <button class="navbar-btn">Logout</button>
        </a>
    </div>
    <div class="navbar-item" *ngIf="isLogged">
        <a (click)="profile()">
            <button class="navbar-btn">Profile</button>
        </a>
    </div>
    <div class="navbar-item" *ngIf="isLogged">
        <a (click)="listUser()">
            <button class="navbar-btn">Users List</button>
        </a>
    </div>
    <div class="navbar-item" *ngIf="isLogged">
        <a (click)="listAsso()">
            <button class="navbar-btn">Associations List</button>
        </a>
    </div>
</nav>
