<form *ngIf ="user" (submit)="submit($event)">
    <label>Last name: (laisser vide pour ne pas modifier) </label>
    <input type="text" id="lastname" placeholder="{{user.lastname}}">
    <br>
    <label>First name : (laisser vide pour ne pas modifier) </label>
    <input type="text" id="firstname" placeholder="{{user.firstname}}">
    <br>
    <label>New password : (laisser vide pour ne pas modifier) </label>
    <input type="password" id="new_pswd">
    <br>
    <label>Old password* :</label>
    <input type="password" id="pswd" required>
    <br>

    <button type="submit">Save</button>
    <a (click)="cancel()"><button>Cancel</button></a>
    <div *ngIf ="error_pswd">
      Wrong password
    </div>
  </form>